*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #DEDEDE;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #000000
}

.restaurant-list {
  padding-top: 50px;
  width: 100%
}

.arrow {
  width: 10%;
  float: left;
  padding-top: 18px;
}

.content {
  padding: 10px 20px 10px 20px;
  width: 90%;
  float: left;
}

.content h1 {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}

.content h3 {
  font-size: 14px;
}

.location:hover {
  background-color:#0070BC;
}

.location {
  border-bottom: 1px solid black;
}

.location::after{
  content: "";
  display: table; clear: both;
}
